LogicApps/GT365-Read-Guests.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_HTML_table": {
                "inputs": {
                    "format": "HTML",
                    "from": "@variables('table')"
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "Table"
            },
            "For_each": {
                "actions": {
                    "AppendDataToArray": {
                        "inputs": {
                            "name": "table",
                            "value": {
                                "Enabled": "@{items('For_each')?['AccountEnabled']}",
                                "LastLogin": "@{items('For_each')?['LastLoginDate']}",
                                "LastLoginDays": "canbedone",
                                "Mail": "@{items('For_each')?['Mail']}",
                                "UPN": "@{items('For_each')?['UserprincipalName']}"
                            }
                        },
                        "runAfter": {},
                        "type": "AppendToArrayVariable"
                    }
                },
                "foreach": "@body('GetEntitiesFromAzureTableStorage')?['value']",
                "runAfter": {
                    "GetEntitiesFromAzureTableStorage": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "GetEntitiesFromAzureTableStorage": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('users')}/entities",
                    "queries": {
                        "$filter": "UserType eq 'Guest'"
                    }
                },
                "runAfter": {
                    "initArrayVariable": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_an_email_(V2)": {
                "inputs": {
                    "body": {
                        "Body": "<p>@{body('Create_HTML_table')}</p>",
                        "Subject": "GT365 Report Guests",
                        "To": "<youremail>"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Create_HTML_table": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "initArrayVariable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "table",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "4"
                        ]
                    },
                    "timeZone": "W. Europe Standard Time"
                },
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "4"
                        ]
                    },
                    "timeZone": "W. Europe Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuretables": {
                    "connectionId": "<connection>",
                    "connectionName": "azuretables",
                    "id": "<resourceid>"
                },
                "office365": {
                    "connectionId": "<connection>",
                    "connectionName": "office365",
                    "id": "<resourceid>"
                }
            }
        }
    }
}